.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #0f2e60;

	.header {
		width: 100%;
	}

	.form {
		flex: 1,
	}

	.incitingText{
		margin-left: 10px;
		cursor: pointer;
	}

}